@{
    ViewBag.Title = "Contact Form Results";
}

<h2>Contact Form Results</h2>

<link href="~/Styles/contactformresults.min.css" rel="stylesheet" type="text/css" />
<div id="contactFormResults" class="k-content">
    <div id="grid"></div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/ContactFormResults/contactformresults.js")
}
